.table {
    margin-top: 120px;
    width: 100%;
}
.table__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}
.table__header__text {
    font-size: 25px;
    font-weight: 500;
}
.table__items {
    display: flex;
    flex-direction: column;
}

.table__item {
  width: 100%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  height: 150px;
  overflow: hidden;
  box-shadow: 0 1.2px 5.6px 0 rgba(0, 0, 0, 0.12);
  margin: 10px auto;
  cursor: pointer;
}

.table__item__image {
    width: 200px;
    height: 150px;
    box-shadow: 0 1.2px 30px 0 rgba(0, 0, 0, 0.09);
}
.table__item__image img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.table__item__details {
    /* background-color: #d8ecfc; */
    padding: 20px 10px 20px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content:  space-between;
}
.table__item__details__name {
    font-size: 25px;
    font-weight: 500;
}
.table__item__details__date {
    font-size: 12px;
    font-weight: 400;
    color: #969eac
}
.table__item__details__detail {
    font-size: 16px;
    font-weight: 400; 
}