body, html {
    width: 100%;
    background-color: #f5f6f8;
    font-family: 'Baloo 2', cursive;
    color: #3a3a3a;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.root {
    width: 100%;
    height: 100vh;
}
.btn {
    padding: 10px;
    border: none;
    box-shadow: 0 1.2px 5.6px 0 rgba(0, 0, 0, 0.12);
}
.btn--md {
    font-size: 14px;
    font-weight: 500;
    border-radius: 7px;
    width: 80px;
}
.wrapper {
    max-width: 900px;
    display: inline-block;
    /* padding: 10px; */
    /* border-radius: 5px; */
    margin: auto;
    width: 98%;
}
.wrapper--detail {
    animation: wrapper-right 1.2s forwards;
} *
.wrapper--list {
    animation: wrapper-left 1.2s forwards;
}
@keyframes wrapper-right {
    from {
        transform: translateX(6000px)
    }
    to {
        transform: translateX(0px)
    }
}
@keyframes wrapper-left {
    from {
        transform: translateX(-6000px)
    }
    to {
        transform: translateX(0px)
    }
}